body {
    font-family: Arial, sans-serif;
    background-color: #d3c1c1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#quiz-container {
    background: #674747a7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    width: 500px;
    text-align: left;
}

h1 {
    margin-bottom: 20px;
}

#quiz {
    margin-bottom: 20px;
}

button {
    background-color: #645b5b;
    color: rgb(249, 249, 249);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #02101f;
}
